<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="color: white; text-decoration: none; font-size: 25px; margin-left: 20px" >GuiaPress</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories/all">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles/all">Artigos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users">Usuários</a>
        </li>
    </ul>
</nav>